@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    background-color: black;
    overflow: hidden;
}

span {
    position: relative;
    top: 40px;
    right: -40%;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    text-transform: uppercase;
}

img {
    position: relative;
    left: -28%;
}